main { 
  min-height: 70vh;
}

h3 {
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding:  1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem ;
}

.rating span{
  margin: 0.1rem;
}

.card-body a{
  color:black;
  text-decoration: none;
}

.navbar-collapse {
  justify-content:flex-end;
}

.navbar-nav a{
  margin-left: auto;
}